<!DOCTYPE html>
<html lang="id">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Obaters</title>
</head>
<body>
	<header class="bg-white fixed-top shadow-sm">
		<app-bar></app-bar>
	</header>

	<main id="mainContainer" class="p-5 mt-5 d-grid gap-5">
		<!-- <main-slider class="container" id="mainSlider"></main-slider>
		<product-slider 
			img="https://images.pexels.com/photos/3683074/pexels-photo-3683074.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=230&w=150" 
			title="Multivitamin"
		>
		</product-slider>
		<product-slider 
			img="https://images.pexels.com/photos/3683100/pexels-photo-3683100.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=230&w=150"
			title="Obat-Obatan Herbal"
		>
		</product-slider> -->
	</main>
</body>
</html>