.product-slider {
  max-width: 1920px!important;
  margin: auto;
  .splide__list {
    .splide__slide {
      margin: 0.5rem;  
      a {
        width: 230px;
        height: 220px;
        text-decoration: none;
        article {
          width: 100%;
          background-color: white;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
          border-radius: 8px;
          &:hover {
            filter: brightness(95%);
          }
          
          img {
            width: inherit;
            height: 230px;
            object-fit: cover;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
          }
          
          h3, p {
            color: black;
            margin: 0;
          }
      
          h3.title {
            font-size: 16px;
            font-weight: 400;
          }
      
          p.price {
            font-weight: bold;
            font-size: 20px;
          }
    
          p.city {
            color: #ACACAC;
          }
        }
      }
    }
  }
}