@import url(https://fonts.googleapis.com/css?family=Nunito);
#productPage .image-container {
  display: grid;
  gap: 10px;
}
#productPage .image-container img {
  border-radius: 5px;
  width: 100%;
}
#productPage .image-container .preview-slider {
  display: grid;
  border: 1px solid red;
}
#productPage .image-container .preview-slider img {
  width: 100px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
#productPage .description {
  display: grid;
}
#productPage .user-ulasan div:nth-child(1) img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
}
#productPage .user-ulasan div:nth-child(2) h3, #productPage .user-ulasan div:nth-child(2) p {
  margin: auto;
}
#productPage .user-ulasan div:nth-child(2) h3 {
  font-size: 18px;
}

#mainSlider.splide .splide__slide img {
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
}

@media only screen and (min-width: 992px) {
  .navbar .container-fluid {
    display: grid !important;
    grid-template-columns: auto 1fr;
  }
}
.navbar .navbar-brand img {
  max-width: 150px;
}
.navbar .navbar-collapse {
  display: grid;
}
.navbar .navbar-collapse .navbar-nav {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .navbar .navbar-collapse .navbar-nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
}
.navbar .navbar-collapse .navbar-nav form.search-section {
  border: 1px solid #dadada;
  border-radius: 5px;
}
.navbar .navbar-collapse .navbar-nav form.search-section input[type=search] {
  outline: none !important;
  border: none !important;
}

.product-slider {
  max-width: 1920px !important;
  margin: auto;
}
.product-slider .splide__list .splide__slide {
  margin: 0.5rem;
}
.product-slider .splide__list .splide__slide a {
  width: 230px;
  height: 220px;
  text-decoration: none;
}
.product-slider .splide__list .splide__slide a article {
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-radius: 8px;
}
.product-slider .splide__list .splide__slide a article:hover {
  filter: brightness(95%);
}
.product-slider .splide__list .splide__slide a article img {
  width: inherit;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.product-slider .splide__list .splide__slide a article h3, .product-slider .splide__list .splide__slide a article p {
  color: black;
  margin: 0;
}
.product-slider .splide__list .splide__slide a article h3.title {
  font-size: 16px;
  font-weight: 400;
}
.product-slider .splide__list .splide__slide a article p.price {
  font-weight: bold;
  font-size: 20px;
}
.product-slider .splide__list .splide__slide a article p.city {
  color: #ACACAC;
}

body {
  font-family: "Montserrat", sans-serif;
}
